body {
    overflow: hidden;
    margin: 0;
}

path{
	fill: #451521;
}
#curvesmall {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dashsmallanim 20s linear alternate infinite;
    stroke: #451521;
    stroke-width: 1.5px;
    fill:none;
    opacity:75%;
}

#curvebig {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dashbiganim 20s linear alternate infinite;
    stroke:#451521;
    stroke-width: 1.5px;
    fill:none;
    opacity: 75%;
}
#curvefade {
    animation: curvefadeanim 20s linear alternate infinite;
    stroke:none;
    fill:#451521;

}
#textfade {
    animation: textfadeanim 20s linear alternate infinite;
    stroke:none;
    fill:#451521;
}
@keyframes dashbiganim {
    0%{
        stroke-dashoffset: 2000;
    }
    20%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 0;
    }
    60%{
        stroke-dashoffset: 2000;
    }
    80%
    {
        stroke-dashoffset: 0;
    }
    100%{

        stroke-dashoffset: 0;
    }
}
@keyframes dashsmallanim {
    0%{
        stroke-dashoffset: 1000;
    }
    20%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 0;
    }
    60%{
        stroke-dashoffset: 1000;
    }
    80%
    {
        stroke-dashoffset: 0;
    }
    100%{

        stroke-dashoffset: 0;
    }
}
@keyframes curvefadeanim {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.8;
    }
    60%{
        opacity: 0;
    }
    80%
    {
        opacity: 0.8;
    }
    100%{

        opacity: 0.8;
    }
}
@keyframes textfadeanim {
   /* 0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }*/
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%
    {
        opacity: 1;
    }
    100%{

        opacity: 1;
    }
}