body {
    overflow: hidden;
    margin: 0;
}

path{
	fill: #451521;
}
#group{
	animation: mov 10s linear alternate infinite;
}
#curve {
    /*stroke-dasharray: 350;*/
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 20s linear alternate infinite;
    /*stroke:#917c3d;*/
    stroke: #451521;
    stroke-width: 1.5px;
    fill:none;
    opacity:75%;
}

#curvebig {
    /*stroke-dasharray: 1000;*/
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dashbig 20s linear alternate infinite;
    /*stroke:goldenrod;*/
    stroke:#451521;
    /*stroke:#451521;*/
    stroke-width: 1.5px;
    fill:none;
    opacity: 75%;
}
#curvefadebig {
    /*stroke-dasharray: 1000;*/
    /*stroke-dasharray: 3000;*/
    /*stroke-dashoffset: 3000;*/
    animation: curvefade 20s linear alternate infinite;
    /*stroke:goldenrod;*/
    stroke:none;
    /*stroke-width: 2px;*/
    fill:#451521;

}
@keyframes mov{
	0%{

	}
	50%
	{
		
	}

}
@keyframes dashbig {
    0% {
        stroke-dashoffset: 3000;
    }
    40% {
        stroke-dashoffset: 0;
    }
    80%
    {
    	stroke-dashoffset: 3000;
    }
    /*50%{
		stroke-dashoffset: 0;

    }*/
    100%
    {
    	stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    40% {
        stroke-dashoffset: 0;
    }
    80%
    {
    	stroke-dashoffset: 1000;
    }
    
    /*50%{
		stroke-dashoffset: 0;
    }*/
    100%
    {
    	stroke-dashoffset: 0;
    }
}
@keyframes curvefade {
    0% {
        /*stroke-dashoffset: 1000;*/
        opacity:0;
    }
    /*40% {
        stroke-dashoffset: 0;
    }
    80%
    {
    	stroke-dashoffset: 1000;
    }
    */
    20%{
    	opacity:0;
    }
    40%
    {
    	opacity: 75%;
    }
    80%{
		opacity:0;
    }
    100%
    {
    	opacity:75%;
    }
}